<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.Dao.BattleDao">
    <!--插入比赛信息-->
    <insert id="insertBattleInfo" parameterType="Battle">
        insert into battle(songA,songB,playerA,playerB,judgeId) values(#{songA},#{songB},#{playerA},#{playerB},#{judgeId})
    </insert>
    <!--获取比赛信息-->
    <select id="getAllBattleInfo" resultType="BattleTall">
        select * from battle
    </select>
    <!--修改状态-->
    <update id="updateStatus" parameterType="Battle">
        update battle set status = #{status} where battleId = #{battleId}
    </update>

</mapper>